<h2>Select Text To Edit</h2>
<%= form_tag('sentence') %>
<input type="hidden" id="sentence" name="sentence" value="1"/> 
<select name="document_urn">
<% for document in @documents %>
     <option value="<%= document.urn%>"><%= document.author %>, <%=h document.title %></option>
<% end %>
</select>
<%= submit_tag 'Go' %>
</form>
<br/>
<br/>
